spring:
  datasource:
    url: jdbc:postgresql://postgres-usuarios:5432/ms-service-usuario
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

server:
  port: 8081
  error:
    include-stacktrace: never

api:
  security:
    token:
      secret: ${JWT_SECRET}
