spring:
  application:
    name: processor-consumer-service

  profiles:
    active: local

  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost:9092}

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

