spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/gestao_financeira_processor_consumer
    username: devuser
    password: dev1234
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

server:
  port: 8083

  error:
    include-stacktrace: never


