version: '3.8'

services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: dev1234
      POSTGRES_DB: gestao_financeira_transacoes_api
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4

volumes:
  postgres_data: