spring:
  datasource:
    url: jdbc:postgresql://postgres-transacoes:5432/ms-service-transacao
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  kafka:
    bootstrap-servers: kafka:29092

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

server:
  port: 8082
  error:
    include-stacktrace: never

api:
  security:
    token:
      secret: ${JWT_SECRET}

exchangerateapi:
  cambio:
    url: ${EXCHANGE_RATE_API_URL}
