spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ms-service-transacao
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  kafka:
    bootstrap-servers: ${KAFKA_HOST:localhost:9092}

  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8082
  error:
    include-stacktrace: never

api:
  security:
    token:
      secret: ${JWT_SECRET:12345678}

exchangerateapi:
  cambio:
    url: ${EXCHANGE_RATE_API_URL}
