spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ms-processor-consumer
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8083
  error:
    include-stacktrace: never
