spring:
  application:
    name: transacoes-service

    profiles:
      active: local

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

brasilapi:
  cambio:
    url: https://brasilapi.com.br/api/exchangerate/v1/BRL