spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/gestao_financeira_transacoes_api
    username: devuser
    password: dev1234

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

server:
  port: 8082

  error:
    include-stacktrace: never

api:
  security:
    token:
      secret: ${JWT_SECRET}
