spring:
  application:
    name: usuarios-service

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  spring:
    profiles:
       active: local

  mockapi:
    saldo:
      url: https://mockapi.io/projects/69739102b5f46f8b5827af90
